.nav_top_menu{
    text-transform: uppercase;
    padding: 5px, 5px;
    
}

.nav_top_menu > li > a{
    padding: 15px 5px;
    }

.navbar_menu{
    margin-top: 0px;
    background: rgba(65, 52, 46, 0.9);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(13, 20, 27, 0.9);
}

.navbar-default .navbar-nav > li > a:actives
{
    background-color: rgba(239, 239, 239, 0.9);
    color: rgba(58, 204, 27, 0.9);
}